@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    height: 100vh;
}

/*VARIABLES*/
:root{
    --Scissors-Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
--Paper-Gradient: hsl(230, 89%, 62%) , hsl(230, 89%, 65%);
--Rock-Gradient: hsl(349, 71%, 52%) , hsl(349, 70%, 56%);
--Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
--Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
}

/*text*/
:root{
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 100vh;
}
.head{
    margin-top: 3rem;
    border: 5px solid var(--Header-Outline);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
}
.score{
    background-color: white;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 7px;
    margin-right: 8px;
}
.head svg{
    transform: scale(.7);
    width: fit-content;
}
.score p{
    color: var(--Score-Text);
    font-weight: 600;
}
.score h1{
    color: var(--Dark-Text);
}
.body{
    /* width: fit-content;
    margin: auto; */
    position: relative;
}
/* .body:nth-child(2){
    position: absolute;
} */
.triangle{
    transform: scale(.7);
    
}
.paper,.rock,.scissors{
    position: absolute;
    background-color: white;
    padding: 27px 2rem;
    /* width: 100px;
    height: 100px; */
    border-radius: 40%;
    cursor: pointer;
}
.paper{
    left: 0;
    border:  solid 10px var(--Paper-Gradient);
}
.scissors{
    right: 0;
    border:solid 10px hsl(39, 89%, 49%);
}
.rock{
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 10px  var(--Rock-Gradient);
}
.btn .rules{
    color: white;
    padding: .5rem 1rem;
    background-color: transparent;
    border-radius: 5px;
    border: solid 2px var(--Header-Outline);
    cursor: pointer;
}
/*RULE SEC MODAL*/
.rulemodal{
    display: none;
}
.show .rulemodal{
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: auto;
    width: 100%;
    background-color: white;
}
.show .rulemodal h1{
    color: var(--Dark-Text);
    /* margin-top: 4rem; */
}
/*===STEP TWOOO===*/
.step2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
font-weight: 700;
}
.chosen{
    background-color: white;
    padding: 27px 32px;
    border-radius: 50%;  
}
.space{
width: 112px;
height: 112px;
border-radius: 50%;
background-color: var(--Dark-Text);
margin: auto;
}
.step2 .yourchoice{
    margin-right: 9rem;
    display: grid;
    grid-gap: 1rem;
}
.step2 .computerchoice{
    display: grid;
    grid-gap: 1rem;
}